@using ForAnimalsWithLove.ViewModels.Admins;
@model AllDoctorsQueryModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- page title -->
    <title>Woof!</title>
    <!--[if lt IE 9]>
    <script src="~/js/respond.js"></script>
    <![endif]-->
    <!-- Font files -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CQuicksand:400,500,700&display=swap" rel="stylesheet">
    <link href="~/fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
    <link href="~/fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <!-- Fav icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- style CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- plugins CSS -->
    <link href="~/css/plugins.css" rel="stylesheet">
    <!-- Colors CSS -->
    <link href="~/styles/maincolors.css" rel="stylesheet">
    <!-- LayerSlider CSS -->
    <link rel="stylesheet" href="~/vendor/layerslider/css/layerslider.css">
</head>
<!-- ==== body starts ==== -->
<body id="top">
    <!-- Preloader-->
    <div id="preloader">
        <div class="spinner">
            <div class="bounce1"></div>
        </div>
    </div>

    <!-- ==== Page Content ==== -->
    <div class="page">
        <div class="container block-padding pt-0 pb-0">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-heading" data-aos="zoom-in">
                    <h3>Всички ветеринари</h3>
                </div>
                <form method="get">
                    <div class="row">
                        <div class="form-group col-md-3 d-flex justify-content-between">
                            <div class="form-group">
                                <label asp-for="Direction"></label>
                                <select asp-for="Direction" class="form-control">
                                    <option value="">Всички</option>
                                    @foreach (var direction in Model.Directions)
                                    {
                                        <option value="@direction">@direction</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="SearchString"></label>
                            <input asp-for="SearchString" class="form-control" placeholder="...">
                        </div>
                        <input type="submit" value="Търси" class="btn btn-primary col-md-3" style="padding-top: 10px" />
                    </div>
                </form>

                @{
                    var previousPage = Model.CurrentPage - 1;
                    if (previousPage < 1)
                    {
                        previousPage = 1;
                    }
                    var maxPage = Math.Ceiling((double)Model.TotalDoctors /
                    Model.DoctorsPerPage);
                }

                <div class="row mb-5">
                    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
                        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
                           asp-controller="Administrator"
                           asp-action="AllDoctors"
                           asp-route-currentPage="@previousPage"
                           asp-route-direction="@Model.Direction"
                           asp-route-searchTerm="@Model.SearchString"><<</a>
                    </div>

                    @{
                        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                        !Model.Doctors.Any();
                    }

                    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
                        <a class="btn btn-primary
                           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
                           asp-controller="Administrator"
                           asp-action="AllDoctors"
                           asp-route-currentPage="@(Model.CurrentPage + 1)"
                           asp-route-direction="@Model.Direction"
                           asp-route-searchTerm="@Model.SearchString">>></a>
                    </div>
                </div>

                @if (!Model.Doctors.Any())
                {
                    <h2 class="text-center">Няма намерени ветеринари по търсените от вас критерии!</h2>
                }
                <div>
                    <div class="text-center col-md-10 col-xl-12">
                        <a asp-area="" asp-controller="Administrator" asp-action="AddDoctor" class="btn btn-primary"> + Добави ветеринар</a>
                    </div>
                </div>

                <div class="row mt-4">
                    <!-- Doctor  -->
                    @foreach (var doctor in Model.Doctors)
                    {

                        <partial name="_DoctorPartial" model="@doctor" />

                    }
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
    </div>
       
</body>


<!-- /page -->
<!-- Bootstrap core & Jquery -->
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Custom Js -->
<script src="~/js/custom.js"></script>
<script src="~/js/plugins.js"></script>
<!-- Prefix free -->
<script src="~/js/prefixfree.min.js"></script>

</html>