@using ForAnimalsWithLove.ViewModels.Admins;
@model AdminHospitalModel

@{
    var collapseId = $"collapse-{Guid.NewGuid()}";
    var controlId = $"collapse-{Guid.NewGuid()}";
}

<div class="card">
    <div class="card-header" id="@controlId" role="tab">
        <h6 class="mb-0 accordion-header">
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#@collapseId" aria-expanded="false" aria-controls="@collapseId">
                Дата на прием: @Model.DateOfAcceptance.ToShortDateString() - Дата на изписване: @Model.DateOfDischarge.ToShortDateString()
            </button>
        </h6>
    </div>
    <div id="@collapseId" class="collapse" aria-labelledby="@controlId" data-bs-parent="#accordion">
        <div class="card-body">
            <p>
                <b>Диагноза:</b> @Model.Diagnosis
            </p>
            <p>
                <b>Лечение:</b> @Model.Treatment
            </p>
            <p>
                <b>Предписано лечение:</b> @Model.PrescribedTreatment
            </p>
        </div>
    </div>
</div>